@use "../variables" as *;
@use "../media" as *;

.footer {
  padding: 60px 0;
  background-color: $accent-pink;
  color: $white;
  font-size: 12px;

  @include laptop {
    padding: 50px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    font-size: 10px;
  }

  &__container {
    display: grid;
    gap: 110px;
    grid-template-columns: repeat(5, 1fr);

    @include laptop {
      gap: 58px;
    }

    @include tablet {
      padding: 0 20px;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: auto;
      gap: 50px;
      grid-template-areas:
        "info contacts"
        "feedback feedback";
    }
  }

  &__logo {
    width: 100px;

    @include tablet {
      display: none;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: $second-family;
    font-weight: 400;
    font-size: 12px;
    color: $accent-red;
    margin-bottom: 14px;
  }

  &__info {
    width: 130px;

    // @include minitblet {
    //   width: 100px;
    // }

    @include mobile {
      grid-area: info;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include tablet {
        margin-bottom: 9px;
      }
    }

    &-link {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $accent-red;
      }
    }

    &-socials {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
        gap: 17px;
      }
    }
  }

  &__address {
    width: 165px;

    @include tablet {
      width: 120px;
    }

    @include mobile {
      width: 100%;
      grid-area: contacts;
    }

    &-title {
      @include tablet {
        display: none;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    address {
      font-style: normal !important;
    }

    &-item {
      &_days {
        @include tablet {
          display: none;
        }
      }

      &_time {
        display: none;

        @include tablet {
          display: block;
        }
      }

      &_tel {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }
  }

  &__socials {
    @include tablet {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 17px;
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;

    @include mobile {
      grid-area: feedback;
      justify-content: center;
    }

    &-text {
      width: 160px;
      margin-bottom: 20px;
    }

    &-link {
      padding-bottom: 2px;
      margin-bottom: 0;
      border-bottom: 1px solid $accent-red;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}
