@use "../variables" as *;
@use "../media" as *;

.hero {
  &__cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  &__col-top-one {
    margin-bottom: 15px;
  }
  &__col-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  &__col-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  &__col-bottom-one {
    padding-top: 15px;
  }
}
