// Sizes
$min-width: 320px;
$max-width: 1440px;
$padding: 0 150px;

$max-width-big: 1800px;
$max-width-laptop: 1000px;
$max-width-tablet: 768px;
$padding-big: 0 100px;
$padding-laptop: 0 50px;
$padding-tablet: 0 15px;
$padding-minitablet: 0 14px;
$padding-mobile: 0 8px;

// Media
$big: 1900px;
$laptop: 1240px;
$tablet: 968px;
$minitablet: 720px;
$mobile: 480px;

// Colors
$accent-pink: #fda3c4;
$accent-red: #f40000;
$white: #fff;
$black: #1f1f1f;
$secondary: #ffe6ef;
$grey: #909090;

// Font
$font-family: "Montserrat", sans-serif;
$second-family: "Sunday Best [rus by aLiNcE]", sans-serif;
$third-family: "Manrope", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-size: 24px;
$font-weight: 400;
$line-height: 1.4;

$font-size-big: 28px;
$font-size-laptop: 20px;
$font-size-mobile: 16px;
