// Sizes
$min-width: 320px;
$max-width: 1404px;
$padding: 0 52px;

$max-width-big: 1600px;
$padding-big: 0 60px;
$padding-laptop: 0 18px;
$padding-mobile: 0 14px;

// Media
$big: 1900px;
$laptop: 1000px;
$tablet: 768px;
$mobile: 550px;

// Colors
$accent-pink: #fda3c4;
$accent-red: #f40000;
$white: #fff;
$black: #1f1f1f;
$secondary: #ffe6ef;
$grey: #909090;

// Font
$font-family: "Montserrat", sans-serif;
$second-family: "Sunday Best [rus by aLiNcE]", sans-serif;
$third-family: "Manrope", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-size: 24px;
$font-weight: 400;
$line-height: 1.4;

$font-size-big: 28px;
$font-size-laptop: 20px;
$font-size-mobile: 16px;